<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
  <div class="span4">
  <!--<section>
  <h3>Latest Comments</h3>
  <ul class="ds-recent-comments" data-num-items="10" data-show-avatars="0" data-show-time="0" data-show-title="0" data-show-admin="0" data-excerpt-length="18"></ul>
</section>-->
<section>
  <h3>Recently Visitors</h3>
  <ul class="ds-recent-visitors" data-num-items="4" data-avatar-size="45" style="margin-top:10px;"></ul>
</section>
</div>
<div id="cbox" data-gist="ee6ffe6c9f1ead666531" style="width: 100%;background-color:#ffffff">
    <div style="border:1px solid #ddd;border-bottom:1px solid #ccc;border-radius:3px">
        <input id="nick" type="text" placeholder="您的昵称，这将会显示在评论中" style="width:99%;border-radius:3px"/>
        <input id="email" type="email" placeholder="留下您的邮箱，邮箱不会显示在评论中" style="width:99%;"/>
        <textarea id="editor" placeholder="Content here ...."></textarea>
    </div>
</div>
</div>
